<% layout ('/layouts/boilerplate') %>


    <div class="container">

        <div class="container d-flex justify-content-center align-items-center mt-5">

          <h2>New Stock Report</h2>  
        
        </div>
        
        <div class="container d-flex justify-content-center align-items-center">
    <h4><span style="color:rgb(242, 111, 5)"><%=site.site_name%></span></h4></div>
   
        <p class="fs-6; fw-lighter" style="margin-top:1em">The review period is defined by the date of last stock
            count to the date for a next stockcount (today).
            Stock count for one or more products can be done any day
            of the month so that over time all products in the the inventory are accounted for (cycle count)</p>
        <form action="/sites/<%=site._id%>/products" method="POST" novalidate class="validated-form"
            enctype="multipart/form-data">
            <hr style=" border: 0;
            height: 2px;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">

            <div class="row">

                <div class="col-md-3 offset-md-2">
                    <label class="form-label" for="cat" class="form-label">Category</label>
                    <input class="form-control" list="cats" name="cat" id="cat" placeholder="Type to search..."
                        required>
                    <datalist id="cats">
                        <option value="BCG">
                        <option value="CHOLERA"> 
                        <option value="COVID-19">                      
                        <option value="EBOLA"> 
                        <option value="HEPATITIS-B"> 
                        <option value="HPV"> 
                        <option value="INFLUENZA">
                        <option value="JE"> 
                        <option value="MEASLES">
                        <option value="MENINGITIS"> 
                        <option value="PENTA">
                        <option value="PNEUMONIAE">
                        <option value="POLIO">
                        <option value="RABIES"> 
                        <option value="ROTAVIRUS"> 
                        <option value="TETANUS"> 
                        <option value="TYPHOID"> 
                        <option value="YELLOW FEVER">  
                        <option value="DILUENTS">
                    </datalist>
                   
                    <br>

                    <label class="form-label" for="name" class="form-label">Vaccine</label>
                    <input class="form-control" list="vaccines" name="name" id="name" placeholder="Type to search..."
                        required>
                    <datalist id="vaccines">
                        <option value="BCG - Ampoule (BCG Freeze Dried Glutamate vaccine)">
                            <option value="BCG - Ampoule (BCG Vaccine)">
                            <option value="BCG - Two vial set (active + excipient) (BCG Vaccine AJV)">
                            <option value="BCG - Vial (BCG Vaccine)">
                            <option value="cholera: inactivated oral - Plastic Tube (Euvichol-Plus)">
                            <option value="cholera: inactivated oral - Vial (Euvichol)">
                            <option value="cholera: inactivated oral - Vial (Shanchol)">
                            <option value="cholera: inactivated oral - Vial + Buffer Sachet (Dukoral)">
                            <option value="COVID-19 Vaccine (Vero Cell), Inactivated (CoronaVac)">
                            <option value="COVID-19 vaccine Whole Virion Inactivated Corona Virus vaccine (COVAXIN®)">
                            <option value="COVID-19 vaccine SARS-CoV-2 rS Protein Nanoparticle [Recombinant](COVOVAX™)">
                            <option value="COVID-19 Vaccine Ad5-nCoV-S [Recombinant] (CONVIDECIA)">
                            <option value="COVID-19 mRNA Vaccine nucleoside modified (COMIRNATY®)">
                            <option value="COVID-19 mRNA Vaccine nucleoside modified (COMIRNATY®Original/Omicron BA.1)">
                            <option value="COVID-19 mRNA Vaccine nucleoside modified (COMIRNATY®Original/Omicron BA.4-5)">
                            <option value="COVID-19 Vaccine ChAdOx1-S [recombinant] (COVISHIELD™)">
                            <option value="COVID-19 Vaccine  (Ad26.COV2-S [recombinant])">
                            <option value="Dengue Tetravalent (live, attenuated) - Two vial set (active + excipient) (Dengvaxia)">
                            <option value="Diphtheria-Tetanus - Ampoule (Diphtheria and Tetanus Vaccine Adsorbed (Paediatric))">
                            <option value="Diphtheria-Tetanus - Vial (Adsorbed DT Vaccine)">
                            <option value="Diphtheria-Tetanus - Vial (Diftet)">
                            <option value="Diphtheria-Tetanus - Vial (Diphtheria and Tetanus Vaccine Adsorbed (Pediatric))">
                            <option value="Diphtheria-Tetanus (reduced antigen content) - Ampoule (Diphtheria and Tetanus Vaccine Adsorbed for Adults and Adolescents)">
                            <option value="Diphtheria-Tetanus (reduced antigen content) - Vial (Diphtheria and Tetanus Vaccine Adsorbed for Adults and Adolescents)">
                            <option value="Diphtheria-Tetanus (reduced antigen content) - Vial (IMOVAX dT adult)">
                            <option value="Diphtheria-Tetanus (reduced antigen content) - Vial (in most cases no label/brandname, possibly labelled commercial name BE Td)">
                            <option value="Diphtheria-Tetanus (reduced antigen content) - Vial (no label/brandname)">
                            <option value="Diphtheria-Tetanus (reduced antigen content) - Vial (Tetadif)">
                            <option value="Diphtheria-Tetanus-Pertussis (acellular) - Vial (Adacel)">
                            <option value="Diphtheria-Tetanus-Pertussis (acellular) - Vial (Boostrix)">
                            <option value="Diphtheria-Tetanus-Pertussis (acellular)-Hepatitis B-Haemophilus influenzae type b-Polio (Inactivated) - Vial (Hexaxim)">
                            <option value="Diphtheria-Tetanus-Pertussis (whole cell) - Ampoule (Diphtheria-Tetanus-Pertussis Vaccine Adsorbed)">
                            <option value="Diphtheria-Tetanus-Pertussis (whole cell) - Vial (Diphtheria-Tetanus-Pertussis Vaccine Adsorbed)">
                            <option value="Diphtheria-Tetanus-Pertussis (whole cell) - Vial (DTP Vaccine)">
                            <option value="Diphtheria-Tetanus-Pertussis (whole cell) - Vial (in most cases no label/brandname, possibly labelled commercial name TRIPVAC)">
                            <option value="Diphtheria-Tetanus-Pertussis (whole cell)-Haemophilus influenzae type b - Vial + Ampoule (Diphtheria, Tetanus, Pertussis and Haemophilus influenzae type b Conjugate Vaccine)">
                            <option value="Diphtheria-Tetanus-Pertussis (whole cell)-Hepatitis B - Ampoule (Diphtheria ,Tetanus, Pertussis and Hepatitis B Vaccine Adsorbed)">
                            <option value="Diphtheria-Tetanus-Pertussis (whole cell)-Hepatitis B - Vial (Diphtheria ,Tetanus, Pertussis and Hepatitis B Vaccine Adsorbed)">
                            <option value="Diphtheria-Tetanus-Pertussis (whole cell)-Hepatitis B-Haemophilus influenzae type b - Two vial set (active + active) (in most cases no label/brandname, possibly labelled commercial name ComBE Five (Reconstituted).)">
                            <option value="Diphtheria-Tetanus-Pertussis (whole cell)-Hepatitis B-Haemophilus influenzae type b - Vial (Diphtheria, Tetanus, Pertussis, Hepatitis B and Haemophilus influenzae type b Conjugate Vaccine Adsorbed)">
                            <option value="Diphtheria-Tetanus-Pertussis (whole cell)-Hepatitis B-Haemophilus influenzae type b - Vial (Easyfive-TT)">
                            <option value="Diphtheria-Tetanus-Pertussis (whole cell)-Hepatitis B-Haemophilus influenzae type b - Vial (Eupenta)">
                            <option value="Diphtheria-Tetanus-Pertussis (whole cell)-Hepatitis B-Haemophilus influenzae type b - Vial (in most cases no label/brandname, possibly labelled commercial name ComBE Five (Liquid).)">
                            <option value="Diphtheria-Tetanus-Pertussis (whole cell)-Hepatitis B-Haemophilus influenzae type b - Vial (Pentabio)">
                            <option value="Diphtheria-Tetanus-Pertussis (whole cell)-Hepatitis B-Haemophilus influenzae type b - Vial (Shan-5)">
                            <option value="Diphtheria-Tetanus-Pertussis (whole cell)-Hepatitis B-Haemophilus influenzae type b - Vial + Ampoule (Diphtheria, Tetanus, Pertussis, Hepatitis B and Haemophilus influenzae type b Conjugate Vaccine)">
                            <option value="Diphtheria-Tetanus-Pertussis (whole cell)-Hepatitis B-Haemophilus influenzae type b-Polio (Inactivated) - Vial (Shan6™)">
                            <option value="Ebola vaccine (Ad26.ZEBOV-GP [recombinant]) - Vial (Zabdeno)">
                            <option value="Ebola vaccine (MVA-BN-Filo [recombinant]) - Vial (Mvabea)">
                            <option value="Ebola Zaire (rVSV∆G-ZEBOV-GP, live attenuated) - Vial (ERVEBO)">
                            <option value="Haemophilus influenzae type b - Vial (Act-HIB)">
                            <option value="Haemophilus influenzae type b - Vial (Haemophilus influenzae type b Conjugate Vaccine)">
                            <option value="Haemophilus influenzae type b - Vial (Quimi-Hib)">
                            <option value="Hepatitis A (Human Diploid Cell), Inactivated (Adult) - Vial (Havrix 1440 Adult)">
                            <option value="Hepatitis A (Human Diploid Cell), Inactivated (Adult) - Vial (HEALIVE)">
                            <option value="Hepatitis A (Human Diploid Cell), Inactivated (Paediatric) - Vial (Havrix 720 Junior)">
                            <option value="Hepatitis A (Human Diploid Cell), Inactivated (Paediatric) - Vial (HEALIVE)">
                            <option value="Hepatitis B - Ampoule or Vial (Hepatitis B Vaccine (rDNA) (Adult))">
                            <option value="Hepatitis B - Ampoule or Vial (Hepatitis B Vaccine (rDNA) (Paedriatic))">
                            <option value="Hepatitis B - Vial (Engerix)">
                            <option value="Hepatitis B - Vial (Euvax B)">
                            <option value="Hepatitis B - Vial (Heberbiovac HB)">
                            <option value="Hepatitis B - Vial (Hepatitis B Vaccine (rDNA) (Adult))">
                            <option value="Hepatitis B - Vial (Hepatitis B Vaccine (rDNA) (Paediatric))">
                            <option value="Hepatitis B (Paediatric) - Vial (Euvax B)">
                            <option value="Human Papillomavirus (Bivalent) - Vial (Cecolin®)">
                            <option value="Human Papillomavirus (Bivalent) - Vial (Cervarix)">
                            <option value="Human Papillomavirus (Ninevalent) - Vial (Gardasil 9)">
                            <option value="Human Papillomavirus (Quadrivalent) - Vial (Gardasil)">
                            <option value="Influenza, Pandemic (H1N1) - Sprayer (Influenza A (H1N1) 2009 monovalent vaccine)">
                            <option value="Influenza, Pandemic (H1N1) - Vial (Celtura)">
                            <option value="Influenza, Pandemic (H1N1) - Vial (Fluvirin-H1N1)">
                            <option value="Influenza, Pandemic (H1N1) - Vial (Focetria)">
                            <option value="Influenza, Pandemic (H1N1) - Vial (Green Flu-S)">
                            <option value="Influenza, Pandemic (H1N1) - Vial (Influenza A (H1N1) 2009 monovalent vaccine)">
                            <option value="Influenza, Pandemic (H1N1) - Vial (Panenza)">
                            <option value="Influenza, Pandemic (H1N1) - Vial (Panvax)">
                            <option value="Influenza, Pandemic (H1N1) - Vial + Ampoule (NASOVAC Influenza Vaccine, Live Attenuated (Human) Freeze-Dried)">
                            <option value="Influenza, Pandemic (H5N1) - Sprayer (Pandemic Live Attenuated Vaccine)">
                            <option value="Influenza, seasonal (Quadrivalent) - Vial (Afluria® Quadrivalent)">
                            <option value="Influenza, seasonal (Quadrivalent) - Vial (Fluzone Quadrivalent (labelled as FluQuadri in other markets))">
                            <option value="Influenza, seasonal (Quadrivalent) - Vial (GCFLU Quadrivalent inj.)">
                            <option value="Influenza, seasonal (Quadrivalent) - Vial (GCFLU Quadrivalent Multi inj.)">
                            <option value="Influenza, seasonal (Quadrivalent) - Vial (SKYCellflu Quadrivalent inj.)">
                            <option value="Influenza, seasonal (Quadrivalent) - Vial (SKYCellflu Quadrivalent Multi inj.)">
                            <option value="Influenza, seasonal (Quadrivalent) - Vial (VaxigripTetra)">
                            <option value="Influenza, seasonal (Trivalent) - Vial (Afluria®)">
                            <option value="Influenza, seasonal (Trivalent) - Vial (AGRIFLU)">
                            <option value="Influenza, seasonal (Trivalent) - Vial (Fluvirin)">
                            <option value="Influenza, seasonal (Trivalent) - Vial (Fluzone)">
                            <option value="Influenza, seasonal (Trivalent) - Vial (GC FLU  inj)">
                            <option value="Influenza, seasonal (Trivalent) - Vial (GC FLU Multi inj.)">
                            <option value="Influenza, seasonal (Trivalent) - Vial (IL-YANG FLU Vaccine INJ.)">
                            <option value="Influenza, seasonal (Trivalent) - Vial (influenza trivalent vaccine (split virion, inactivated))">
                            <option value="Influenza, seasonal (Trivalent) - Vial (Influenza Vaccine (Split virion, inactivated))">
                            <option value="Influenza, seasonal (Trivalent) - Vial (Serinflu)">
                            <option value="Influenza, seasonal (Trivalent) - Vial (SKYCellflu® inj.)">
                            <option value="Influenza, seasonal (Trivalent) - Vial (SKYCellflu® Multi inj.)">
                            <option value="Influenza, seasonal (Trivalent) - Vial (Vaxigrip)">
                            <option value="Influenza, seasonal (Trivalent) - Vial + Ampoule (Nasovac-S Influenza Vaccine, Live, Attenuated (Human))">
                            <option value="Japanese Encephalitis Vaccine (Inactivated) (3µg Pediatric) - Vial (JEEV® (3µg))">
                            <option value="Japanese Encephalitis Vaccine (Inactivated) 6µg - Vial (JEEV® (6µg))">
                            <option value="Japanese Encephalitis Vaccine (live, attenuated) - Two vial set (active + excipient) (IMOJEV MD)">
                            <option value="Japanese Encephalitis Vaccine (live, attenuated) - Two vial set (active + excipient) (Japanese Encephalitis Vaccine Live (SA14-14-2))">
                            <option value="Measles - Vial (Measles Vaccine, Live, Attenuated)">
                            <option value="Measles - Vial (Measles vaccine)">
                            <option value="Measles - Vial + Ampoule (Measles vaccine)">
                            <option value="Measles and Rubella - Vial (Measles and Rubella Vaccine, Live, Attenuated)">
                            <option value="Measles and Rubella - Vial + Ampoule (Measles and Rubella Vaccine (Live) (Attenuated, Freeze Dried))">
                            <option value="Measles, Mumps and Rubella - Vial (Measles, Mumps and Rubella Vaccine, Live, Attenuated)">
                            <option value="Measles, Mumps and Rubella - Vial (Priorix)">
                            <option value="Measles, Mumps and Rubella - Vial (rHA M-M-R II)">
                            <option value="Meningococcal A Conjugate 10 µg - Vial + Ampoule (Meningococcal A Conjugate MenAfriVac)">
                            <option value="Meningococcal A Conjugate 5 µg - Vial + Ampoule (Meningococcal A Conjugate 5 micrograms MenAfriVac 5µg)">
                            <option value="Meningococcal ACYW-135 (conjugate vaccine) - Two vial set (active + active) (Menveo)">
                            <option value="Meningococcal ACYW-135 (conjugate vaccine) - Vial (Menactra)">
                            <option value="Meningococcal ACYW-135 (conjugate vaccine) - Vial + Ampoule (Nimenrix)">
                            <option value="Meningococcal ACYW-135 Tetanus Toxoid (conjugate vaccine) - Vial (MenQuadfi)">
                            <option value="COVID-19 vaccine SARS-CoV-2 rS [Recombinant, adjuvanted] (NUVAXOVID™)">
                            <option value="Plasmodium falciparum (Malaria) and Hepatitis B (recombinant, adjuvanted) - Two vial set (active + active) (Mosquirix)">
                            <option value="Pneumococcal (conjugate) - Vial (PNEUMOSIL®)">
                            <option value="Pneumococcal (conjugate) - Vial (Prevenar 13 Multidose Vial)">
                            <option value="Pneumococcal (conjugate) - Vial (Prevenar 13)">
                            <option value="Pneumococcal (conjugate) - Vial (Synflorix)">
                            <option value="Polio Vaccine - Inactivated (IPV) - Vial (IMOVAX POLIO)">
                            <option value="Polio Vaccine - Inactivated (IPV) - Vial (IPV Vaccine SSI)">
                            <option value="Polio Vaccine - Inactivated (IPV) - Vial (Picovax)">
                            <option value="Polio Vaccine - Inactivated (IPV) - Vial (Poliomyelitis Vaccine (Inactivated))">
                            <option value="Polio Vaccine - Inactivated (IPV) - Vial (Poliomyelitis vaccine multidose, suspension for injection 2.5 mL)">
                            <option value="Polio Vaccine - Inactivated (IPV) - Vial (Poliomyelitis vaccine)">
                            <option value="Polio Vaccine - Inactivated (IPV) - Vial (Poliorix)">
                            <option value="Polio Vaccine - Inactivated (IPV) - Vial (ShanIPV™)">
                            <option value="Polio Vaccine - Inactivated Sabin (sIPV) - Vial (Eupolio Inj.)">
                            <option value="Polio Vaccine - Inactivated Sabin (sIPV) - Vial (Poliomyelitis Vaccine (Vero Cell), Inactivated, Sabin Strains)">
                            <option value="Polio Vaccine - Oral (OPV) Bivalent Types 1 and 3 - Vial (BIOPOLIO B1/3)">
                            <option value="Polio Vaccine - Oral (OPV) Bivalent Types 1 and 3 - Vial (Bivalent OPV Type 1 and 3 Poliomyelitis Vaccine, Live (Oral))">
                            <option value="Polio Vaccine - Oral (OPV) Bivalent Types 1 and 3 - Vial (Bivalent Oral Poliomyelitis Vaccine Type 1&3 (bOPV 1&3))">
                            <option value="Polio Vaccine - Oral (OPV) Bivalent Types 1 and 3 - Vial (Bivalent type 1&3 Oral Poliomyelitis vaccine, IP (bOPV1&3))">
                            <option value="Polio Vaccine - Oral (OPV) Bivalent Types 1 and 3 - Vial (none)">
                            <option value="Polio Vaccine - Oral (OPV) Bivalent Types 1 and 3 - Vial (Polio Sabin One and Three)">
                            <option value="Polio Vaccine - Oral (OPV) Bivalent Types 1 and 3 - Vial (Poliomyelitis Vaccine (live, oral attenuated, human Diploid Cell), type 1 and 3)">
                            <option value="Polio Vaccine - Oral (OPV) Bivalent Types 1 and 3 - Vial (Poliomyelitis Vaccine (Oral), Bivalent types 1 and 3)">
                            <option value="Polio Vaccine - Oral (OPV) Monovalent Type 1 - Vial (Monovalent Oral Poliomyelitis Vaccine Type 1 (mOPV1))">
                            <option value="Polio Vaccine - Oral (OPV) Monovalent Type 1 - Vial (Monovalent type 1 Oral Poliomyelitis vaccine, IP (mOPV1))">
                            <option value="Polio Vaccine - Oral (OPV) Monovalent Type 1 - Vial (ORAL MONOVALENT TYPE 1 POLIOMYELITIS VACCINE)">
                            <option value="Polio Vaccine - Oral (OPV) Monovalent Type 1 - Vial (Polio Sabin Mono T1)">
                            <option value="Polio Vaccine - Oral (OPV) Monovalent Type 2 - Vial (Monovalent Oral Poliomyelitis Vaccine Type 2)">
                            <option value="Polio Vaccine - Oral (OPV) Monovalent Type 2 - Vial (ORAL MONOVALENT TYPE 2 POLIOMYELITIS VACCINE (mOPV2))">
                            <option value="Polio Vaccine - Oral (OPV) Monovalent Type 2 - Vial (Polio Sabin Mono Two (oral))">
                            <option value="Polio Vaccine - Oral (OPV) Monovalent Type 3 - Vial (ORAL MONOVALENT TYPE 3 POLIOMYELITIS VACCINE)">
                            <option value="Polio Vaccine - Oral (OPV) Monovalent Type 3 - Vial (Polio Sabin Mono Three (oral))">
                            <option value="Polio Vaccine - Oral (OPV) Trivalent - Vial (BIOPOLIO)">
                            <option value="Polio Vaccine - Oral (OPV) Trivalent - Vial (OPVERO)">
                            <option value="Polio Vaccine - Oral (OPV) Trivalent - Vial (Oral Poliomyelitis Vaccines (Oral Drops))">
                            <option value="Polio Vaccine - Oral (OPV) Trivalent - Vial (Polioviral vaccine)">
                            <option value="Rabies - Vial (Rabipur)">
                            <option value="Rabies - Vial (VaxiRab N)">
                            <option value="Rabies - Vial (VERORAB)">
                            <option value="Rabies - Vial + Ampoule (Rabies Vaccine Inactivated (Freeze Dried)(RABIVAX-S))">
                            <option value="Rotavirus  - Applicator (Rotarix)">
                            <option value="Rotavirus  - Plastic Tube (Rotarix)">
                            <option value="Rotavirus  - Plastic Tube (Rotateq)">
                            <option value="Rotavirus (live, attenuated) - Plastic Tube (ROTASIIL-Liquid)">
                            <option value="Rotavirus (live, attenuated) - Two vial set (active + excipient) (ROTASIIL)">
                            <option value="Rotavirus (live, attenuated) - Two vial set (active + excipient) (ROTASIIL®Thermo)">
                            <option value="Rotavirus (live, attenuated) - Vial (ROTASIIL-Liquid)">
                            <option value="Rotavirus (live, attenuated) - Vial (ROTAVAC 5D®)">
                            <option value="Rotavirus (live, attenuated) - Vial (Rotavac)">
                            <option value="Rubella - Vial (Rubella Vaccine, Live, Attenuated)">
                            <option value="COVID-19 mRNA Vaccine (nucleoside modified) (SPIKEVAX)">
                            <option value="Tetanus Toxoid - Ampoule (Tetanus  Toxoid Vaccine Adsorbed)">
                            <option value="Tetanus Toxoid - Uniject (TT vaccine)">
                            <option value="Tetanus Toxoid - Vial (in most cases no label/brandname, possibly labelled commercial name BEtt.)">
                            <option value="Tetanus Toxoid - Vial (ShanTT)">
                            <option value="Tetanus Toxoid - Vial (Tetanus  Toxoid Vaccine Adsorbed)">
                            <option value="Tetanus Toxoid - Vial (Tetatox)">
                            <option value="Tetanus Toxoid - Vial (TETAVAX)">
                            <option value="Tetanus Toxoid - Vial (TT vaccine)">
                            <option value="Typhoid (Conjugate) - Vial (Typbar-TCV)">
                            <option value="Typhoid (Conjugate) - Vial (TYPHIBEV®)">
                            <option value="Typhoid (Polysaccharide) - Vial (TYPHIM Vi)">
                            <option value="Varicella - Two vial set (active + excipient) (SKYVaricella Inj.)">
                            <option value="Varicella - Two vial set (active + excipient) (Varivax)">
                            <option value="Varicella - Vial (Varicella Vaccine, Live)">
                            <option value="Yellow Fever - Ampoule (n/a)">
                            <option value="Yellow Fever - Two vial set (active + excipient) (Yellow Fever)">
                            <option value="Yellow Fever - Vial (SinSaVac™)">
                            <option value="Yellow Fever - Vial (Stabilized Yellow Fever Vaccine)">
                            <option value="Yellow Fever - Vial (STAMARIL)">
                    </datalist>
                
                    <br>

                    <label class="form-label" for="manufacturer" class="form-label">Manufacturer</label>
                    <input class="form-control" list="manufacturers" name="manufacturer" id="manufacturer" placeholder="Type to search..."
                        required>
                    <datalist id="manufacturers">
                        <option value="Abbott Biologicals BV">
                            <option value="AJ Vaccines A/S">
                            <option value="AstraZeneca Pharmaceuticals LP.">
                            <option value="BB- NCIPD Ltd. (Bul Bio-National Center of Infectious and Parasitic Diseases Ltd.)">
                            <option value="Beijing Institute of Biological Products Co. Ltd. (BIBP)">
                            <option value="Bharat Biotech International Limited">
                            <option value="Bilthoven Biologicals B.V.">
                                <option value="BioNTech  Manufacturing GmbH">
                            <option value="Bio-Manguinhos/Fiocruz">
                            <option value="Biological E. Limited">
                            <option value="Cadila Health Care Ltd">
                                <option value="CanSino Biologics Inc.
                            <option value="Centro de Ingenieria Genetica y Biotecnologia">
                            <option value="Chengdu Institute of Biological Products Co.,Ltd">
                            <option value="Chiron Behring Vaccines Private Ltd.">
                            <option value="EuBiologics Co., Ltd.">
                            <option value="Federal State Autonomous Scientific Institution «Chumakov Federal Scientific Center for Research & Development of Immune-And Biological Products», Russian Academy of Sciences">
                            <option value="GC Biopharma Corp.">
                            <option value="GlaxoSmithKline Biologicals SA">
                            <option value="GlaxoSmithKline Vaccines S.r.l.">
                            <option value="GPO-MBP Co., Ltd.">
                            <option value="Haffkine Bio Pharmaceutical Corporation Ltd">
                            <option value="Hualan Biological Bacterin Inc.">
                            <option value="IL-YANG PHARMACEUTICAL CO., LTD.">
                            <option value="Institut Pasteur de Dakar">
                            <option value="Instituto Butantan">
                            <option value="Janssen Vaccines, Branch of Cilag GmbH International ">
                            <option value="Japan BCG Laboratory">
                            <option value="LG Chem Ltd">
                            <option value="MedImmune">
                            <option value="Merck Vaccines">
                                <option value="Moderna Biotech">
                                    <option value="Novavax CZ a.s.">
                            <option value="Panacea Biotec Ltd.">
                            <option value="Pfizer Europe MA EEIG">
                            <option value="PT Bio Farma (Persero)">
                            <option value="Sanofi Healthcare India Private Limited">
                            <option value="Sanofi Pasteur Inc.">
                            <option value="Sanofi Pasteur Limited">
                            <option value="Sanofi Pasteur SA">
                            <option value="Sanofi Pasteur">
                            <option value="Seqirus GmbH">
                            <option value="Seqirus Limited">
                            <option value="Seqirus Vaccines Limited">
                            <option value="Serum Institute of India Pvt. Ltd.">
                            <option value="Sinovac (Dalian) Vaccine Technology Co., Ltd.">
                            <option value="Sinovac Biotech Co. Ltd">
                                <option value="Sinovac Life Sciences Co., Ltd">
                            <option value="SK Bioscience Co., Ltd.">
                            <option value="Valneva Sweden AB">
                            <option value="Xiamen Innovax Biotech Co. Ltd.">
                    </datalist>
                </div>

             
                <div class="col-md-3 offset-md-2">
                    <label class="form-label" for="type" class="form-label">Vaccine Type</label>
                    <input class="form-control" list="types" name="type" id="type" placeholder="Type to search...">
                    <datalist id="types">
                        <option value="ROUTINE">
                        <option value="CAMPAIGN">
                        <option value="OUTBREAK">
                        <option value="PILOT">
                    </datalist>
<br>
                    <label class="form-label" for="conversion" class="form-label">Nr Doses/pack (conversion)</label>
                    <select class="form-select" type="number" name="conversion" id="conversion" required>
                        <option selected>Select Nr Doses per packaging</option>
                        <option value=1>1 dose</option>
                        <option value=2>2 doses</option>
                        <option value=4>4 doses</option>
                        <option value=5>5 doses</option>
                        <option value=10>10 doses</option>
                        <option value=17>17 doses</option>
                        <option value=20>20 doses</option>
                        <option value=50>50 doses</option>
                    </select>
                </div>
            </div>


            <br>
            <hr style=" border: 0;
            height: 2px;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">

            <div class="row">
                <div class="col-md-3 offset-md-2">
                    <label class="form-label" for="date_open" class="form-label">Date Last Stockcount</label>
                    <input class="form-control" type="date" name="date_open" id="date_open" required>
                </div>
                <div class="col-md-3 offset-md-2">

                </div>
                <div class="col-md-3 offset-md-2">

                </div>
                <div class="col-md-3 offset-md-2">

                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3 offset-md-2">
                    <label class="form-label" for="qty_open" class="form-label">Qty Last Stockcount</label>
                    <p class="fs-6; fw-lighter" style=" margin-bottom :0em">(from stock register)</p>
                    <input class="form-control" type="number" name="qty_open" id="qty_open" required>
                </div>
                <div class="col-md-3 offset-md-2">
                    <label class="form-label" for="uom_open" class="form-label">UoM</label>
                    <p class="fs-6; fw-lighter" style=" margin-bottom :0em">(used to record stock count)</p>
                    <input class="form-control" list="uom" name="uom_open" id="uom_open" required>
                    <datalist id="uom">
                        <option value="vial/amp">
                        <option value="flacon/tube">
                    </datalist>
                </div>
            </div>
            <br>
            <hr style=" border: 0;
            height: 2px;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">

            <div class="row">
                <div class="col-md-3 offset-md-2">
                    <label class="form-label" for="qty_received class=" form-label">Receipts
                        <p class="fs-6; fw-lighter" style=" margin-bottom :0em">(since last stock count)</p>
                    </label>
                    <input class="form-control" type="number" name="qty_received" id="qty_received" required>
                </div>
                <div class="col-md-3 offset-md-2">
                    <label class="form-label" for="uom_received" class="form-label">UoM
                        <p class="fs-6; fw-lighter" style=" margin-bottom :0em">(used to record receipts)</p>
                    </label>
                    <input class="form-control" list="uom_rec" name="uom_received" id="uom_received"
                        placeholder="Select...." required>
                    <datalist id="uom_rec">
                        <option value="vial/amp">
                            <option value="flacon/tube">
                        <option value="dose">
                    </datalist>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3 offset-md-2">
                    <label class="form-label" for="qty_issued class=" form-label">Issued/Used
                        <p class="fs-6; fw-lighter" style=" margin-bottom :0em">(since last stock count)</p>
                    </label>
                    <input class="form-control" type="number" name="qty_issued" id="qty_issued" required>
                </div>
                <div class="col-md-3 offset-md-2">
                    <label class="form-label" for="uom_issued" class="form-label">UoM
                        <p class="fs-6; fw-lighter" style=" margin-bottom :0em">(used to record issues)</p>
                    </label>
                    <input class="form-control" list="uom_iss" name="uom_issued" id="uom_issued" placeholder="Select..."
                        required>
                    <datalist id="uom_iss">
                        <option value="vial/amp">
                            <option value="flacon/tube">
                        <option value="dose">
                    </datalist>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3 offset-md-2">
                    <label class="form-label" for="qty_lost class=" form-label">Losses
                        <p class="fs-6; fw-lighter" style=" margin-bottom :0em">(lost, expired or damaged since last
                            stock count)</p>
                    </label>
                    <input class="form-control" type="number" name="qty_lost" id="qty_lost" required>
                </div>
                <div class="col-md-3 offset-md-2">
                    <label class="form-label" for="uom_lost" class="form-label">UoM
                        <p class="fs-6; fw-lighter" style=" margin-bottom :0em">(used to record losses)</p>
                    </label>
                    <input class="form-control" list="uom_lss" name="uom_lost" id="uom_lost" required>
                    <datalist id="uom_lss">
                        <option value="vial/amp">
                            <option value="flacon/tube">
                    </datalist>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3 offset-md-2">
                    <label class="form-label" for="qty_transferred class=" form-label">Transferred from/to other sites
                        <p class="fs-6; fw-lighter" style=" margin-bottom :0em">(+/- since last stock count)</p>
                    </label>
                    <input class="form-control" type="number" name="qty_transferred" id="qty_transferred" required>
                </div>
                <div class="col-md-3 offset-md-2">
                    <label class="form-label" for="uom_transferred" class="form-label">UoM
                        <p class="fs-6; fw-lighter" style=" margin-bottom :0em">(used to record transfers)</p>
                    </label>
                    <input class="form-control" list="uom_trs" name="uom_transferred" id="uom_transferred" required>
                    <datalist id="uom_trs">
                        <option value="vial/amp">
                            <option value="flacon/tube">
                    </datalist>
                </div>
            </div>

            <br>
            <div class="row">
                <div class="col-md-3 offset-md-2">
                    <label class="form-label" for="qty_count class=" form-label">Stock Count
                        <p class="fs-6; fw-lighter" style=" margin-bottom :0em"> (at end of review period)</p>
                    </label>
                    <input class="form-control" type="number" name="qty_count" id="qty_count" required>
                </div>
                <div class="col-md-3 offset-md-2">
                    <label class="form-label" for="uom_count" class="form-label">UoM
                        <p class="fs-6; fw-lighter" style=" margin-bottom :0em">(used to record stock count)</p>
                    </label>
                    <input class="form-control" list="uom_cnts" name="uom_count" id="uom_count" required>
                    <datalist id="uom_cnts">
                        <option value="vial/amp">
                            <option value="flacon/tube">
                    </datalist>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3 offset-md-2">
                    <label class="form-label" for="cce" class="form-label">Cold Chain Equipment:
                        <p class="fs-6; fw-lighter" style=" margin-bottom :0em">(as per source label)</p>
                    </label>
                    <input class="form-control" list="SOH_cce" name="cce" id="cce" required>
                    <datalist id="SOH_cce">
                        <option value="refrigerator">
                            <option value="freezer">
                                <option value="ultrafreezer">
                    </datalist>
                </div>
            </div>

            <br>
            
            <hr style=" border: 0;
            height: 2px;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">

            <div class="row">
                <div class="col-md-3 offset-md-2">
                    <label class="form-label" for="so_days" class=" form-label">Stock out days
                        <p class="fs-6; fw-lighter" style=" margin-bottom :0em"> (since last stock count)</p>
                    </label>
                    <input class="form-control" type="number" name="so_days" id="so_days" required>
                </div>
                <div class="col-md-3 offset-md-2">
                    <label class="form-label" for="nearexp" class=" form-label">Nr Vials Near Expiration or damaged
                        <p class="fs-6; fw-lighter" style=" margin-bottom :0em"> (will expiry in next 3 m, or exposed to e.g. freezing)</p>
                    </label>
                    <input class="form-control" type="number" name="nearexp" id="nearexp" required>
                </div>
               
            </div>

            <br>
            <hr style=" border: 0;
            height: 2px;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">

            <!-- <div class="col">
                <div class="form-file custom-file">
                    <input type="file" class="form-file-input" id="image" name="image" multiple>
                    <label class="form-file-label" for="image">
                        <span class="form-file-text custom-file-label">Choose image(s)...</span>
                        <span class="form-file-button">Browse</span>
                    </label>
                </div>
            </div> -->

            <div class="row">
                <div class="col-md-3 offset-md-2">
                    <div class="form-file custom-file">
                        <input type="file" class="form-file-input" id="image" name="image" multiple>
                        <label class="form-file-label" for="image">
                            <span class="form-file-text custom-file-label">Upload images ('jpeg', 'png',
                                'jpg')</span>
                            <!-- <span class="form-file-button">Browse</span> -->
                        </label>

                    </div>
                </div>
                <div class="col-md-3 offset-md-2">

                </div>
            </div>




            <br>
            <hr style=" border: 0;
            height: 2px;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">
            <br>
            <br>
            <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-success">Submit</button>
            <p><em>(note that submit may take some seconds depending on the nr images to upload)</em></p></div>
        </form>
        <br>
        <a href="/sites/<%=site._id%>">Back to the Site Stock Details Report</a>

    </div>